{{ item.log_path }} {
	{{ item.basis }}
	rotate {{ item.rotate }}
	compress
	delaycompress
	missingok
	notifempty
    size {{ item.size }}
	create {{ item.permissions | default(664) }} {{ item.user | default(nginx) }} {{ item.group | default(nginx) }}
}
